.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid white;
  z-index: 2;
  text-align: center;
  color: white;
}
.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 7% 5% 2% 5%;
}
