.header {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,.5);
  color: white;
}
.header ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
