.box {
  height: 30vh;
  width: 20vw;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 4px 4px 10px 2px black;
  animation: fadeIn ease 2s, slideUp ease 2s;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5%;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes slideUp {
  0% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
}
